
.open-sans-uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

*{
  margin: 0;
  padding: 0;
}
header{
  background-color: #FFF8F3;
  padding-top: 50px;
}
.logo h2{
  font-size: 45px;
  font-weight: 900;
}
.color-orange{
  color: #FD6E0A;
}
.container{
  width: 71%;
  max-width: 1200px;
  /* border: 1px solid rgb(218, 107, 107); */
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .menu {
  display: flex;
  list-style-type: none;
  gap: 51px;
  align-items: center;
}
nav .menu a{
  font-size: 20px;
  text-decoration: none;
  color: #474747;
}
.btn{
  background-color: #FD6E0A;
  border: none;
  padding: 18px 36px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}